<?xml version="1.0"?>
<config>
	<modules>
		<Cammino_Orderorigin>
			<version>1.0.1</version>
		</Cammino_Orderorigin>
	</modules>
    <global>
        <helpers>
            <solorico_salesman>
                <class>Solorico_Salesman_Helper</class>
            </solorico_salesman>
        </helpers>
        <resources>
            <cammino_orderorigin_setup>
                <setup>
                    <module>Cammino_Orderorigin</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
            </cammino_orderorigin_setup>
        </resources>
        <events>
            <sales_order_save_after>
                <observers>
                    <cammino_orderorigin_observer>
                        <class>Cammino_Orderorigin_Model_Observer</class>
                        <method>setOrderSources</method>
                    </cammino_orderorigin_observer>
                </observers>
            </sales_order_save_after>
            <controller_action_layout_load_before>
                <observers>
                    <cammino_orderorigin_observer>
                        <class>Cammino_Orderorigin_Model_Observer</class>
                        <method>checkSources</method>
                    </cammino_orderorigin_observer>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </global>
</config>